# Dossier node_modules
node_modules

# Logs
npm-debug.log
yarn-error.log

# Répertoires de cache
.cache
.tmp

# Fichiers de configuration et dossiers inutiles
.env
.git
.gitignore
.dockerignore
Dockerfile
README.md
LICENSE
.editorconfig
*.md

# Fichiers de test
*.test.js
*.spec.js
tests/
coverage/

# Fichiers de build
dist
build
